@model ControlPanel.ViewModels.StatisticsViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}
<div class="jumbotron">
    <h1>الإحصائيات</h1>
    <p class="lead">
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> @Resources.Global.All_Users: </span> <span id="AllUsers"> @Model.AllUsers</span></div>
            <div class="col-md-6 col-sm-6 "><span> الزبائن </span> <span id="Clients"> @Model.AllClients</span></div>
        </div>
        <div class="row " style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> النشظون خلال الثلاث ايأم الماضية </span> <span id="Clients"> @Model.AllActiveClientsInThePastThreeDays</span></div>
            <div class="col-md-6 col-sm-6"><span> مزودوا الخدمة : </span> <span id="Service Provider"> @Model.AllServiceProviders</span></div>
        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> @Resources.Global.All_services: </span> <span id="AllServices"> @Model.AllServices</span></div>
            <div class="col-md-6 col-sm-6"><span> @Resources.Global.Active_services: </span> <span id="ActiveServices"> @Model.AllActiveServices</span></div>
        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> @Resources.Global.Done_services: </span> <span id="DoneServices"> @Model.AllDoneServices</span></div>
            <div class="col-md-6 col-sm-6 "><span> المستخدمون المتصلون الأن: </span> <span id="onlineUsers"> @Model.AllActiveClients</span></div>
        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> مفسري الاحلام </span> <span id="DreamUsers"> @Model.AllDreamUsers</span></div>
            <div class="col-md-6 col-sm-6 "><span> المفتين الشرعيين </span> <span id="IftaaUsers"> @Model.AllIftaaUsers</span></div>
        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> الرقات الشرعيين </span> <span id="RouqatUsers"> @Model.AllRouqiaUsers</span></div>
            <div class="col-md-6 col-sm-6 "><span> المستشارين الأسريين </span> <span id="MustasharUser"> @Model.AllIstasharaUsers</span></div>
        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> المستشارين الطبيين </span> <span id="MedicalUsers"> @Model.AllMedicalUsers</span></div>
            <div class="col-md-6 col-sm-6 "><span> المستشارين القانونيين </span> <span id="LawUsers"> @Model.AllLawUsers</span></div>
        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> الرصيد المحول لمقدمي الخدمات </span> <span id="MedicalUsers"> @Model.TotalBalance</span></div>
            <div class="col-md-6 col-sm-6 "><span> الرصيد الذي لم يحول بعد </span> <span id="RouqatUsers"> @Model.AvailableBalance</span></div>

        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> الرصيد المعلق ولم يتم تقديم الخدمة بعد </span> <span id="MustasharUser"> @Model.SuspendedBalance</span></div>
            <div class="col-md-6 col-sm-6 "><span> مجموع جميع المدفوعات </span> <span id="MustasharUser"> @Model.AllPaymentsSum</span></div>
        </div>
        <div class="row" style="font-size:large">
            <div class="col-md-6 col-sm-6 "><span> المبلغ الصافي بعد خصم كل شيء </span> <span id="MustasharUser"> @Model.Profit</span></div>
        </div>
    </p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Services List</h2>
        <p><a class="btn btn-primary" href="@Url.Action("Index","Services")">@Resources.Global.services &raquo;</a></p>
        <p><a class="btn btn-primary" href="@Url.Action("Create","Services")">@Resources.Global.Add_service &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Service  Paths</h2>
        <p><a class="btn btn-primary" href="@Url.Action("Index","ServicePaths")">@Resources.Global.service_Paths &raquo;</a></p>
        <p><a class="btn btn-primary" href="@Url.Action("Create","ServicePaths")">@Resources.Global.Add_path &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Service Provider</h2>
        <p><a class="btn btn-primary" href="@Url.Action("ServiceProvider","Account")">@Resources.Global.ServiceProvider &raquo;</a></p>
    </div>
</div>
@*@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        WorkExperienceLoadData();

    });
    function WorkExperienceLoadData() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getAllStatistics", "Account")',
            dataType: 'json',
            data: {},
            success: function (data) {
            var items = '';
            $('#AllServices').text(data.AllServices);
            $('#ActiveServices').text(data.allActiveServices);
            $('#DoneServices').text(data.allDoneServices);
            $('#Service Provider').text(data.allService Provider);
            $('#Clients').text(data.allClients);
            $('#Admins').text(data.allAdmins);
            $('#AllUsers').text(data.allUsers);
            $('#onlineUsers').text(data.onlineUsers);



            //$.each(data, function (i, item) {
            //var from_date = item.From;
            //var to_date = item.To;
            //var from =  new Date(parseInt(from_date.substr(6)));
            //var to = new Date(parseInt(to_date.substr(6)))

            //$('#AllServices').

            //});
            },
            error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
            }
            });
            return false;
       }
    </script>
}*@