@model ControlPanel.Models.UserWork

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>@Resources.Global.DetailsUserWorkInformation</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
       
        
        <dt>
            @Resources.UserWork.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Resources.UserWork.AdjectiveName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjectiveName)
        </dd>
        
        <dt>
            @Resources.UserWork.CreationDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

       

       

        <dt>
            @Resources.UserWork.Enabled
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.UserWork.Edit, "Edit", new { id = Model.id }) |
    @Html.ActionLink(@Resources.Global.BackToList, "Index")
</p>
