@model IEnumerable<ControlPanel.Models.UserWork>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}



<h1>@Resources.UserWork.userworks</h1>
<br />
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<p style="float:right;text-decoration-color:white;">

    <button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "UserWorks")'">
        <i class="fa fa-plus-square pull-right" style="font-size:large"></i> Create New userWork
    </button>

</p>
<table id="myTable" class="cell-border hover stripe" style="width:100%">
    <thead>
    <tr>

        <th>
           @Resources.UserWork.Name
        </th>

        <th>
           @Resources.UserWork.AdjectiveName
        </th>

        <th>
         @Resources.UserWork.CreationDate
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.LastModificationDate)
            </th>*@


        <th>
            @Resources.UserWork.Enabled
        </th>
        <th></th>
    </tr>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AdjectiveName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.LastModificationDate)
                    </td>*@


                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        @Html.ActionLink(@Resources.UserWork.Edit, "Edit", new { id = item.id }) |
                        @Html.ActionLink(@Resources.UserWork.Details, "Details", new { id = item.id }) |
                        @Html.ActionLink(@Resources.UserWork.Delete, "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </tbody>
</table>

@section scripts{
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript">

        $('#myTable').DataTable(
            {
                dom: 'Bfrtip',
                columnDefs: [
                    {
                        targets: 1,
                        className: 'noVis'
                    }
                ],
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    'copyHtml5',
                    'excelHtml5',
                    'pdfHtml5'
                ]

            }


        );
    </script>
}