@model ControlPanel.Models.Competition

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>Delete Competition Information</h2>

<h3>@Resources.Global.Areyousureyouwanttodeletethis</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Resources.UserWork.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Goal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>


        <dt>
            User Work
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserWork.Name)
        </dd>
        
        <dt>
            StartDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>


        <dt>
            EndDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Global.Delete " class="btn btn-default" />|
            @Html.ActionLink(@Resources.Global.BackToList, "Index")
        </div>
    }
</div>
