@model ControlPanel.Models.Competition

@{
    ViewBag.Title = "Prizes";
    Layout = "~/Views/Shared/_PLayout.cshtml";
    var Id = Request.QueryString["CompetitionId"];
    var x = 1;
}



<h2 class="text-center" style="color: #071689 !important;">جوائز المسابقة </h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("معلومات المسابقة", "Details", new { CompetitionId = Id })
                            </button>
                        </h2>
                    </div>
                </div>
            </div>


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("الجوائز", "prizes", new { CompetitionId = Id })
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("المشاركون في المسابقة", "ServiceProvider", new { CompetitionId = Id })
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("النتائح المرحلية", "CompetitionResultTemp", new { CompetitionId = Id })


                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("النتائح النهائية", "CompetitionResultFinal", new { CompetitionId = Id })


                            </button>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("المسابقات السابقة", "OldCompetitions", new { CompetitionId = Id })


                            </button>
                        </h2>
                    </div>
                </div>
            </div>







        </div>

        <div class="col-md-9" id="PersonalInfoDV">
            <input type="button" style="float:right"
                   class="btn btn-info" value="تعديل الجوائز"
                   onclick="location.href='@Url.Action("Edit","Competitions", new { id = Model.id })'"  />

            <table class="cell-border hover stripe" style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            المركز
                        </th>
                        <th>
                            الجائزة
                        </th>
                        <th>
                            المركز
                        </th>
                        <th>
                            الجائزة
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model=>model.prize.rank1)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank2)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank3)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank4)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank5)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank6)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank7)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank8)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank9)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank10)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank11)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank12)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank13)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank14)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank15)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank16)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank17)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank18)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank19)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank20)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank21)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank22)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank23)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank24)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank25)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank26)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank27)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank28)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank29)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank30)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank31)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank32)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank33)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank34)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank35)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank36)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank37)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank38)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank39)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank40)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank41)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank42)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank43)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank44)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank45)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank46)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank47)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank48)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank49)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank50)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank51)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank52)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank53)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank54)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank55)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank56)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank57)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank58)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank59)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank60)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank61)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank62)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank63)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank64)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank65)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank66)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank67)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank68)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank69)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank70)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank71)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank72)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank73)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank74)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank75)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank76)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank77)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank78)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank79)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank80)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank81)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank82)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank83)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank84)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank85)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank86)
                        </td>
                    </tr>


                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank87)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank88)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank89)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank90)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank91)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank92)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank93)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank94)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank95)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank96)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank97)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank98)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank99)
                        </td>
                        <td>
                            @x
                            @{ x = x + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.prize.rank100)
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <hr />

            

            <br />


        </div>


    </div>


</div>


@section Scripts
{
    
}