@model fsrhilmakv2.ViewModels.StatisticsMainPage
@{
    Layout = "~/Views/Shared/_Layout_main_New.cshtml";
    ViewBag.Title = "أهل الذكر";
}
<!DOCTYPE html>
<html lang="ar">
<head>
    <title>أهل الذكر</title>
    
    <style>
        .text {
            color: black;
            font-size: small
        }

        .text_icon {
            color: black;
            font-size: small;
            font-weight:bolder;
        }
        .text_statistics {
            color: black;
            font-size: large;
            font-style:italic;
        }
        .Image_style {
            margin-top:10%;
            height:80px;
        }
        .Image_style_icon {
            margin-top: 5%;
            height: 70px;
        }
        .Div_Border {
            border-right-color: #DEE0F2;
            border-right-style: groove;
        }
        .bgimg {
            background-image: url('../../Images/NewDesign/خلفية يسار.jpg');
        }

        .card-header {
            background-color: #3F51B5;
            color: white;
        }

        .card-footer {
            background-color: #3F51B5;
            color: white;
        }

        .card-title {
            font-size: large;
            font-weight: bold;
        }

        .card {
            direction: rtl;
            text-align: right;
            border: solid;
        }
    </style>
</head>
<body style="direction:rtl">

    

    
<div >
    @* First Row *@
    <div class="row text-center">

        <div class="col-md">
            <div>

                <div>
                    <a href="@Url.Action("Services","Home",new {idd=26,status="Done" })">
                        <img class="Image_style" src="~/Images/NewDesign/خدمة تفسير أحلام.jpg" />
                     </a>
                </div>
                <div class="text">
                    @Model.statistics.AllDreamUsers
                    مقدم خدمة
                </div>
                <div class="text">
                    @Model.statistics.AllDreams
                    خدمة 
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div style="margin-top:2%">
                <img src="~/Images/Logo.png" style="height:150px;width:150px" />
                @*<img class="shadow p-3 mb-5 bg-white rounded-circle" src="~/Images/Logo.png" style="height:150px;width:150px;" />*@
            </div>

        </div>
        <div class="col-md">
            <div>

                <div>
                    <a href="@Url.Action("Services","Home",new {idd=28,status="Done" })">
                        <img class="Image_style" src="~/Images/NewDesign/خدمة فتوى شرعية.jpg" />
                    </a>
                </div>
                <div class="text">
                    @Model.statistics.AllIftaaUsers
                    مقدم خدمة
                </div>
                <div class="text">
                    @Model.statistics.AllIftaa
                    خدمة 
                </div>

            </div>

        </div>
    </div>
    @* Second Row *@
    <div class="row text-center">
        @* Second Row - First Group *@
        <div class="col-md">
            @* Second Row - First Group - First Item *@
            <div>
                <div>
                    <div>
                        <a href="@Url.Action("Services","Home",new {idd=29,status="Done" })">
                            <img class="Image_style" src="~/Images/NewDesign/خدمة استشارة أسرية.jpg" />
                        </a>
                    </div>
                    <div class="text">
                        @Model.statistics.AllIstasharaUsers
                        مقدم خدمة
                    </div>
                    <div class="text">
                        @Model.statistics.AllIstashara
                        خدمة 
                    </div>
                </div>
            </div>

            @* Second Row - First Group - Second Item *@
            <div>
                <div>
                    <div>
                        <a href="@Url.Action("Services","Home",new {idd=37,status="Done" })">
                            <img class="Image_style" src="~/Images/NewDesign/خدمة استشارة قضائية.jpg" />
                        </a>
                    </div>
                    <div class="text">
                        @Model.statistics.AllLawUsers
                        مقدم خدمة
                    </div>
                    <div class="text">
                        @Model.statistics.AllLaw
                        خدمة 
                    </div>
                </div>

            </div>
        </div>


        @* Second Row - Second Group *@
        <div class="col-md-6">

            <div style="background-color: #323545">
                <h5 style="color:white">آخر الخدمات المنجزة</h5>
            </div>
            <div style="overflow: auto;height:250px;background-color:#ECEEF8">
                    @foreach (var item in Model.services)
                    {
                        <div style="width:100%;margin-top:5px;margin-left:2px;margin-right:2px;" dir="rtl">
                            <div class="card " style="height:100%!important">
                                <div class="card-header">
                                    <div style="margin-right:10px">
                                        <a style="color:white" href="@Url.Action("Service","Home",new { idd=item.id})"> الخدمة رقم @item.id</a>
                                        @{
                                            if (item.ServicePath.Cost > 0)
                                            {
                                                <span style="float:left"> &nbsp; <i class="fa fa-money" style="font-size: large"> خدمة مدفوعة </i></span>
                                            }
                                            else
                                            {
                                                <span style="float:left"> &nbsp; <i class="fa fa-money" style="font-size: large"> خدمة مجانية </i></span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="card-body">

                                    <a href="@Url.Action("Service","Home",new { idd=item.id})" style="text-decoration:none;color:black;">
                                        <div class="card-text">
                                            @{
                                                if (item.Description.Count() > 100)
                                                {
                                                    <span>@item.Description.ToString().Substring(0, 100) </span>
                                                    <span>
                                                        <a href='@Url.Action("Service","Home",new { idd=item.id})'>أقرأ المزيد</a>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>@item.Description</span>
                                                }

                                            }

                                        </div>
                                    </a>

                                </div>
                                <div class="card-footer">
                                    <span style="float:left"> &nbsp; &nbsp; <i class="fa fa-eye">  </i>&nbsp; @item.numberOfViews</span>
                                    <span style="float:left"><i class="fa fa-heart"> </i>&nbsp;@item.numberOfLikes</span>
                                </div>
                            </div>
                        </div>
                                            }

                <a class="text-center" style="color:black;margin-top:5px;" href="@Url.Action("Services", "Home", new { idd = 26,status="Done" })"> مشاهدة المزيد</a>


            </div>
            <div style="background-color:#323545;height:20px;">

            </div>

        </div>

        @* Second Row - Third Group *@
        <div class="col-md">
            @* Second Row - Third Group - First Item *@
            <div>
                <div>
                    <div>
                        <a href="@Url.Action("Services","Home",new {idd=27,status="Done" })">
                            <img class="Image_style" src="~/Images/NewDesign/خدمة رقية شرعية.jpg" />
                         </a>
                    </div>
                    <div class="text">
                        @Model.statistics.AllRouqiaUsers
                        مقدم خدمة
                    </div>
                    <div class="text">
                        @Model.statistics.AllRouqat
                        خدمة 
                    </div>
                </div>
            </div>

            @* Second Row - Third Group - Second Item *@
            <div>
                <div>
                    <div>
                        <a href="@Url.Action("Services","Home",new {idd=36,status="Done" })">
                            <img class="Image_style" src="~/Images/NewDesign/خدمة استشارة طبية.jpg" />
                         </a>
                    </div>
                    <div class="text">
                        @Model.statistics.AllMedicalUsers
                        مقدم خدمة
                    </div>
                    <div class="text">
                        @Model.statistics.AllMedical
                        خدمة 
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
    <br />
    @* Statistics *@
    <div>
        
        <div class="row text-center" style="border-top-style: groove;border-right-color: #DEE0F2">
            @* Users *@
            <div class="col-md">
                <div>
                    <div>
                        <div>
                            <img  class="Image_style_icon" src="~/Images/Icons/المستخدمون.png" />
                        </div>
                        <div class="text_icon">
                            المستخدمون
                        </div>
                        <div class="text_statistics">
                            @Model.statistics.AllClients
                        </div>

                    </div>
                </div>
            </div>

            @* Service Providers *@
            <div class="col-md">
                <div>
                    <div>
                        <div>
                            <a href="@Url.Action("ServiceProviders","Home",new { idd = 28 } )">
                                <img class="Image_style_icon" src="~/Images/Icons/مقدمو-الخدمات.png" />
                            </a>
                        </div>
                        <div class="text_icon">
                            مقدمو الخدمات
                        </div>
                        <div class="text_statistics">
                            @Model.statistics.AllServiceProviders
                        </div>

                    </div>
                </div>
            </div>

           

            @* Services *@
            <div class="col-md">
                <div>
                    <div>
                        <div>
                            <a href="@Url.Action("Services","Home",new {idd=28,status="Active" })">
                                <img class="Image_style_icon" src="~/Images/Icons/done.png" />
                            </a>
                        </div>
                        <div class="text_icon">
                            الخدمات
                        </div>
                        <div class="text_statistics">
                            @Model.statistics.AllServices
                        </div>

                    </div>
                </div>
            </div>
            

            @* Done Services *@
            <div class="col-md">
                <div>
                    <div>
                        <div>
                            <a href="@Url.Action("Services","Home",new {idd=28,status="Done" })">
                                <img class="Image_style_icon" src="~/Images/Icons/done.png" />
                             </a>
                        </div>
                        <div class="text_icon">
                            الخدمات المنجزة
                        </div>
                        <div class="text_statistics">
                            @Model.statistics.AllDoneServices
                        </div>

                    </div>
                </div>
            </div>

            @* Active Services *@
            <div class="col-md">
                <div>
                    <div>
                        <div>
                            <a href="@Url.Action("Services","Home",new {idd=28,status="Active" })">
                                <img class="Image_style_icon" src="~/Images/Icons/الحدمات-قيد-التنفيذ.png" />
                             </a>
                        </div>
                        <div class="text_icon">
                            الخدمات قيد التنفيذ
                        </div>
                        <div class="text_statistics">
                            @Model.statistics.AllActiveServices
                        </div>

                    </div>
                </div>
            </div>

            @* Visits *@
            <div class="col-md">
                <div>
                    <div>
                        <div>
                            <img class="Image_style_icon" src="~/Images/Icons/عدد-الزيارات.png" />
                        </div>
                        <div class="text_icon">
                            الزيارات
                        </div>
                        <div class="text_statistics">
                            @Model.statistics.AllActiveClientsInThePastThreeDays
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>



