@model List<ControlPanel.ViewModels.ServiceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>@*@Resources.Global.*@ServicesInformation</h2>

<br />
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<p style="float:right;text-decoration-color:white;">

    @*<button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "ServicePaths")'">
            <i class="fa  pull-right" style="font-size:large"></i> @Resources.Global.CreateNewServicePath
        </button>*@
    <div class="container">
        @using (Html.BeginForm())
        {
        
    <p>
        <table align="center">
            <tr>
                <td style="padding-right:20px;padding-bottom:20px;">
                    <b>EnterWords</b>
                </td>
                <td style="padding-right:20px;padding-bottom:20px;">
                    <div class="m-input-icon m-input-icon--left">
                        <input name="SearchString" type="text" class="form-control m-input m-input--air" placeholder="Description .. " id="generalSearch">
                    </div>
                </td>
                <td style="padding-left:50px;padding-right:20px;padding-bottom:20px;">
                    <b>Status</b>
                </td>
                <td style="padding-right:20px;padding-bottom:20px;">
                    @Html.DropDownList("Status", new List<SelectListItem>
                               { new SelectListItem { Text="Active", Value="Active"},
                                new SelectListItem{Text="Done", Value="Done"}
                          }, new { @class = "form-control m-input m-input--air" })
                </td>
                <td style="padding-left:50px;padding-right:20px;padding-bottom:20px;">
                    <b>user work</b>
                </td>
                <td style="padding-right:20px;padding-bottom:20px;">
                    <div class="col-md-4">
                        @Html.Label("نوع الخدمة")
                        @Html.DropDownList("UserWorkId", null, htmlAttributes: new { @class = "form-control m-input m-input--air" })
                    </div>


                
                </td>
                <td style="padding-bottom:20px">
                    <button type="submit" class="SearchBtn btn btn-outline-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--custom m-btn--outline-1x m-btn--pill m-btn--air">
                        <i class="fa fa-search"></i>
                    </button>
                </td>
            </tr>
        </table>
        <br />
        @*<input id="Search" class="btn btn-primary btn-default"  type="submit" value="Search" style="float: right; position: relative; left: -50%; /* or right 50% */ text-align: left; background-color:#6610f2;color:white" />
            <button type="submit" style="float:right;" class="SearchBtn btn btn-outline-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--custom m-btn--outline-1x m-btn--pill m-btn--air">
                <i class="fa fa-search"></i>
            </button>*@
    </p>

        }
        </div>
        </p>
        <table id="myTable" class="cell-border hover stripe" style="width:100%">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>

                    <th>
                        userwork
                    </th>

                    <th>
                        CreationDate
                    </th>
                    <th>
                        creator
                    </th>
                    <th>
                        service path
                    </th>
                    <th>
                        description
                    </th>
                    <th>
                        status
                    </th>

                    <th></th>
                </tr>
            <tbody>
                @foreach (var item in Model)
            {

                    <tr>

                        <td>
                            @Html.ActionLink(item.Name, "ServiceInfo", new { id = @item.Id }, null)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserWork.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Creator.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServicePath.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>


                        <td>
                            @Html.ActionLink(@Resources.UserWork.Edit, "Edit", new { id = @item.id }) |
                            @Html.ActionLink(@Resources.UserWork.Details, "Details", new { id = item.id }) |
                            @Html.ActionLink(@Resources.UserWork.Delete, "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </tbody>
        </table>



        @section scripts{
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
            <script type="text/javascript">

                $('#myTable').DataTable(
                    {
                        dom: 'Bfrtip',
                        columnDefs: [
                            {
                                targets: 1,
                                className: 'noVis'
                            }
                        ],
                        buttons: [
                            {
                                extend: 'colvis',
                                columns: ':not(.noVis)'
                            },
                            'copyHtml5',
                            'excelHtml5',
                            'pdfHtml5'
                        ]

                    }


                );
            </script>
        }