
@model List<ControlPanel.ViewModels.ServiceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PLayout.cshtml";
    var Id = Request.QueryString["userId"];    //var userType = ViewBag.Type;
    int numOfServicesunderinterpretation = Model.Count();

}

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<h2 class="text-center" style="color: #071689 !important;">Service under interpretation List</h2>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink(Resources.Register.PersonalInformation, "PersonalPage", "Account", new { userId = Id },null)
                            </button>
                        </h2>
                    </div>
                </div>
            </div>


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink(Resources.Global.service_Paths, "ServicePath", "Account", new { userId = Id },null)
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink(Resources.Global.Payments, "Payments", "Account", new { userId = Id },null)
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("الخدمات المفسرة", "InterpreterServices", new { userId = Id })


                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("الخدمات قيد التنفيذ", "ServicesUnderInterpretation",  new { userId = Id })
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink(Resources.Global.Ratings, "Ratings", "Account", new { userId = Id },null)
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("سجل الخدمات المستلمة", "ServiceHistory", new { userId = Id })
                            </button>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink(Resources.Global.TransferOperations, "Transactions", "Account",new { userId = Id },null)
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Html.ActionLink("رصيد المسابقات", "CompetitionBalance", new { userId = Id }, null)
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="PersonalInfoDV">
            @using (Html.BeginForm())
            {

                <div class="row">

                    <div class="col-md-4">
                        @Html.Label("From Date")
                        @Html.TextBox("fromDate", null, new { type = "date", @class = "form-control m-input m-input--air" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("To Date")
                        @Html.TextBox("toDate", null, new { type = "date", @class = "form-control m-input m-input--air" })

                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-default">
                        Filter
                    </button>
                </div>




                <div class="row" style="direction:rtl">
                    <div class="col-md-4">
                        <span style="direction:rtl;float:right;font-size:large"> عدد الخدمات قيد التفسير:<br /></span>
                        <span style="direction:rtl;float:right;font-size:large"> &nbsp; &nbsp; @numOfServicesunderinterpretation</span>
                    </div>
                </div>


                <table id="myTable" class="cell-border hover stripe" style="width:100%">
                    <thead>
                        <tr>

                            <th>
                                Id
                            </th>

                            <th>
                                نوع الخدمة
                            </th>

                            <th>
                                تاريخ الانشاء
                            </th>
                            <th>
                                المستخدم
                            </th>
                            <th>
                                مسار الخدمة
                            </th>
                            <th>
                                الوصف
                            </th>
                            <th>
                                الحالة
                            </th>

                            <th></th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>

                                <td>

                                    @Html.ActionLink(@item.Name, "ServiceInfo", new { id = @item.Id })
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.UserWork.AdjectiveName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServicePath.Cost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>


                                <td>
                                    @Html.ActionLink(@Resources.UserWork.Edit, "Edit", new { id = @item.Id }) |
                                    @Html.ActionLink(@Resources.UserWork.Delete, "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            }
        </div>
        <br />
        <br />


    </div>

</div>

@section scripts{
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript">

        $('#myTable').DataTable(
            {
                dom: 'Bfrtip',
                columnDefs: [
                    {
                        targets: 1,
                        className: 'noVis'
                    }
                ],
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    'copyHtml5',
                    'excelHtml5',
                    'pdfHtml5'
                ]

            }


        );
    </script>
}
