@model ControlPanel.ViewModels.ServiceViewModel

@{
    ViewBag.Title = "ServiceInfo";
    Layout = "~/Views/Shared/_PLayout.cshtml";
    var Id = Request.QueryString["serviceId"];
}

<h2>@*@Resources.Global.*@ServicesInformation</h2>

<br />
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<p style="float:right;text-decoration-color:white;">

    @*<button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "ServicePaths")'">
            <i class="fa  pull-right" style="font-size:large"></i> @Resources.Global.CreateNewServicePath
        </button>*@

</p>  </div>
<div>
    <hr />
    <dl class="dl-horizontal">

       
        <dt>

            @Resources.Register.Name :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>

            userwork:
        </dt>

        <dd>

            @Html.DisplayFor(model => model.UserWork.Name)
        </dd>
        <dt>

            creation date:
        </dt>

        <dd>

            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>

            service path Cost:
        </dt>

        <dd>

            @Html.DisplayFor(model => model.ServicePath.Cost)
        </dd>
        <dt>

            status:
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>

            creator:
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Creator.Name)
        </dd>
        <dt>

            Sex :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>

            KidsStatus :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.KidsStatus)
        </dd>
        <dt>

            IsThereWakefulness :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.IsThereWakefulness)
        </dd>
        <dt>

            Country :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>

            HaveYouPrayedBeforeTheDream :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.HaveYouPrayedBeforeTheDream)
        </dd>
        <dt>

            DidYouExorcism :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.DidYouExorcism)
        </dd>
        <dt>

            RegligionStatus :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.RegligionStatus)
        </dd>
        <dt>

            SocialStatus :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.SocialStatus)
        </dd>
        <dt>

            JobStatus :
        </dt>

        <dd>

            @Html.DisplayFor(model => model.JobStatus)
        </dd>



</dl>
</div>
<p>
    @Html.ActionLink(@Resources.UserWork.Edit, "Edit", new { id = Model.id }) |
    @Html.ActionLink(@Resources.Global.BackToList, "Index")
</p>




@*<div class="row ">


    <div class="row">
        <div class="col-md-5">
            <input type="button"
                   class="btn btn-primary" value="@Resources.UserWork.Edit"
                   onclick="location.href='@Url.Action("Edit",  new { id = Model.Id })'" />


        </div>
    </div>
</div>
</div>


        </div>*@
@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        WorkExperienceLoadData();

    });
        function WorkExperienceLoadData() {

        $.ajax({
            type: 'GET',
            @*url: '@Url.Action("getInterpreterInfo", "Account")',*@
            @*url: "/Account/getInterpreterInfo?phoneNumber="+String(@Model.PhoneNumber),*@
            dataType: 'json',
            data: { },
            success: function (data) {
            var items = '';
            $('#AllDreams').text(data.numberOfAllDreams);
            $('#Done').text(data.numberOfDoneDreams);
            $('#Active').text(data.numberOfActiveDreams);
            $('#Day').text(data.numberOfDreamsByDay);
            $('#Speed').text(data.speed);
            $('#Rating').text(data.Rating);
            $('#Balance').text(data.balance);



            },
            error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
            }
            });
            return false;
        }
        //Verify interpreter
        $(function () {
        $("#Skill_btnSave").click(function () {
            var urlString='@Url.Action("VerifyInterpreter", "Account", new {id=Model.Id })';
                $.ajax({
                    type: "GET",
                    url: urlString,
                    data: {},
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {

                        alert(1);
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });
        });

        function resetbalance() {

        $.ajax({
            type: 'GET',
            @*url: '@Url.Action("getInterpreterInfo", "Account")',*@
            @*url: "/Account/resetBalance?phoneNumber="+String(@Model.PhoneNumber),*@
            dataType: 'json',
            data: { },
            success: function (data) {

                alert("balance was reseted");
                WorkExperienceLoadData();


            },
            error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
            }
            });
            return false;
        }

        function deleteUser() {

        $.ajax({
            type: 'GET',
            @*url: '@Url.Action("getInterpreterInfo", "Account")',*@
            @*url: "/Account/deleteUser?phoneNumber="+String(@Model.PhoneNumber),*@
            dataType: 'json',
            data: { },
            success: function (data) {

                alert("User was deleted and won't appear anymore in userlist, close the current page");
                location.reload();


            },
            error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
            }
            });
            return false;
        }
    </script>
}