@model ControlPanel.Models.SystemParameter

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>@Resources.Global.DeleteSystemParameterInformation</h2>

<h3>@Resources.Global.Areyousureyouwanttodeletethis</h3>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Resources.UserWork.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Resources.Global.Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Resources.Global.Value
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        
        <dt>
            @Resources.UserWork.CreationDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

      

      

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Global.Delete " class="btn btn-default" />|
            @Html.ActionLink(@Resources.Global.BackToList, "Index") 
        </div>
    }
</div>
