@model List<ControlPanel.Models.UserInfoCash>

@{
    ViewBag.Title = "ServiceProvider";
    Layout = "~/Views/Shared/_PLayout.cshtml";
    int numberOfrecords = Model.Count();
    int numOfActiveServices = Model.Sum(a => a.NumberOfActiveServices);
    int numOfDoneServices = Model.Sum(a => a.NumberOfDoneServices);
    double totalbalance = Model.Sum(a => a.TotalBalance);
    double suspendedBalance=Model.Sum(a => a.SuspendedBalance);
    double availableBalance=Model.Sum(a => a.AvailableBalance);
}


<h1>@Resources.Global.ServiceProviders</h1>
<br />
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
@*<p style="float:right;text-decoration-color:white;">

    <button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "UserWorks")'">
        <i class="fa  pull-right" style="font-size:large"></i> Create New userWork
    </button>

</p>*@

    @using (Html.BeginForm())
    {

        <div class="row">
           
           
            <div class="col-md-4">
                @Html.Label("From Date")
                @Html.TextBox("fromDate", null, new { type = "date", @class = "form-control m-input m-input--air" })
            </div>

           
            <div class="col-md-4">
                @Html.Label("To Date")
                @Html.TextBox("toDate", null, new { type = "date", @class = "form-control m-input m-input--air" })

            </div>
            
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-4">
                @Html.DropDownList("verified", new List<SelectListItem>
                                  { new SelectListItem { Text="مفعل", Value="true"},
                                     new SelectListItem{Text="غير مفعل", Value="false"},
                                    }, "اختر حالة المفسر", htmlAttributes: new { @class = "form-control m-input m-input--air" })
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                
                

                <a class="btn btn-success" href="https://ahalzekr.com/api/actions/RunUserCashJob" target="_blank">Refresh the values</a>

            </div>

        </div>
        <br />
        @*<div class="text-center">
            <button type="submit" class="btn btn-default">
                Filter
            </button>
        </div>*@


        <div class="text-center">
            <button type="submit" class="SearchBtn btn btn-outline-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--custom m-btn--outline-1x m-btn--pill m-btn--air">
                <i class="fa fa-search"></i>
            </button>
        </div>
    }

<div class="row" style="direction:rtl">
    <div class="col-md-4">
        <span style="direction:rtl;float:right;font-size:large"> عدد المستخدمين:<br /></span>
        <span style="direction:rtl;float:right;font-size:large"> &nbsp; &nbsp; @numberOfrecords</span>
    </div>
    <div class="col-md-4">
        <span style="direction:rtl;float:right;font-size:large"> عدد الخدمات المنجزة;</span>
        <span style="direction:rtl;float:right;font-size:large">   &nbsp; &nbsp; @numOfDoneServices</span>
    </div>
    <div class="col-md-4">
        <span style="direction:rtl;float:right;font-size:large">عدد الخدمات غير المنجزة:</span>
        <span style="direction:rtl;float:right;font-size:large">&nbsp; &nbsp; @numOfActiveServices</span>
    </div>
    <div class="col-md-4">
        <span style="direction:rtl;float:right;font-size:large"> الرصيد المحول:</span>
        <span style="direction:rtl;float:right;font-size:large">&nbsp; &nbsp;@totalbalance</span>
    </div>
    <div class="col-md-4">
        <span style="direction:rtl;float:right;font-size:large"> الرصيد المعلق:</span>
        <span style="direction:rtl;float:right;font-size:large">&nbsp; &nbsp;@suspendedBalance</span>
    </div>
    <div class="col-md-4">
        <span style="direction:rtl;float:right;font-size:large"> الرصيد المتاح:</span>
        <span style="direction:rtl;float:right;font-size:large">&nbsp; &nbsp;@availableBalance</span>

    </div>
</div>
<table id="myTable" class="cell-border hover stripe" style="width:100%">
    <thead>
        <tr>
            <th>
                @Resources.Global.Name
            </th>
            <th>
                @Resources.Global.PhoneNumber
            </th>
            <th>
                @Resources.Global.Email
            </th>
            <th>
                @Resources.Global.Country
            </th>
            <th>
                @Resources.Global.NumberOfActiveServices
            </th>
            <th>
                @Resources.Global.NumberOfDoneServices
            </th>
            <th>
                @Resources.Global.Speed
            </th>
            <th>
                @Resources.Global.AvgServicesInOneDay
            </th>

            <th>
                الرصيد المعلق
            </th>
            <th>
                الرصيد المحول
            </th>
            <th>
                الرصيد المتاح
            </th>

            <th>
               ترتيب المفسر
            </th>





            @*<th></th>*@
        </tr>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "PersonalPage", new { userId = item.Id }, null)
            </td>
            <td>@item.phoneNumber</td>
            <th>@item.Email</th>
            <th>@item.Country</th>
            <th>@item.NumberOfActiveServices</th>
            <th>@item.NumberOfDoneServices</th>
            <th>@item.Speed</th>
            <th>@item.AvgServicesInOneDay</th>
            <th>@item.SuspendedBalance</th>
            <th>@item.TotalBalance</th>
            <th>@item.AvailableBalance</th>
            <th>@item.rank</th>
        </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript">

        $('#myTable').DataTable(
            {
                dom: 'Bfrtip',
                columnDefs: [
                    {
                        targets: 1,
                        className: 'noVis'
                    }
                ],
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    'copyHtml5',
                    'excelHtml5',
                    'pdfHtml5'
                ]

            }


        );
    </script>
}